# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretórios do Sistema Operacional
.DS_Store
Thumbs.db

# Node modules
node_modules/
.babelrc

# Pasta de pacotes
package-lock.json
yarn.lock

# Android
android/.gradle
android/app/build/
android/build/
android/app/src/main/assets/index.android.bundle
android/app/src/main/res/raw/node_modules_assets_index.android.bundle

# iOS
ios/Pods/
ios/build/
ios/Podfile.lock

# Gerados automaticamente
*.iml
*.hprof
*.orig
*.pyc
*.pyo
*.idea/
*.sublime-workspace

# VSCode
.vscode/
.vscode/settings.json
.vscode/launch.json
.vscode/tasks.json
.vscode/typings

# Teste
__tests__/
coverage/

# Arquivos de cache
.expo/
.expo-shared/
*.expo

# Expo
.expo/
web-build/

# Outras Configurações
.env
.env.local
.env.*.local
